:root {
    --firstcolor: #ebb810;
    --secondcolor: #a06235;
    --thirdcolor: #141313;
    --fourthcolor: #1d1d1d;
    --whitecolor: #ffffff;
    --bluishe: #151a20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(176, 154, 26);
    font-family: 'Permanent Marker', cursive;

}

.navlist {
    display: flex;

}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.alat {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

section {
    padding: 0 19%;
    color
}

.alat-txt h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    line-height: 0.9;
    color: rgb(176, 154, 26);
    margin: 0 0 45px;
}

.alat-txt h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.alat-txt p {
    color: rgb(255, 254, 254);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
    vertical-align: top;
}

.alat-txt a {
    display: inline-block;
    color: white;
    background: #a5a30a;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;

}

.alat-txt a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover {
    color: #a5a30a;
    transform: translateY(-5px);
}

.row {
    display: inline-block;

}

.product-color {
    background: #a5a30a;
    background: #cac71d;
}

.title {
    display: flex;
}
.pHome{
    margin-left: 1300px;
    text-decoration: none;
}
.h1p {
 padding-top: 80px;
}
.inner-favourite {
    flex: 1 1 300px;
    background-color: #1d1d1dad;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 2rem 0;
    transition: 1s all ease;
    border-radius: 15px;
}

.inner-favourite:hover {
    background: var(--firstcolor);
}

.inner-favourite .fav-content {
    text-align: center;
}

.inner-favourite .fav-content img {
    width: 50%;
    object-fit: cover;
}

.inner-favourite:hover .fav-content img {
    transform: translateY(-10px);
}

.fav-content h3 {
    color: white;
    font-size: 28px;
}

.fav-content p {
    color: white;
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.fav-content a {
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    background: var(--firstcolor);
}

.fav-content a:hover {
    background-color: var(--fourthcolor);
}




